.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

    .search {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input {
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 5px 10px;
        width: 90%;
      }

      button {
        background-color: #007bff;
        margin-left: 5px;
        margin-top: 5px;
        color: #fff;
        height: 26px;
        border: 0px;
      }
    }
  }
}