.movies-table {
  width: 100%;
  border-collapse: collapse;
}

.movies-table th,
.movies-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.movies-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.movies-table tbody tr:nth-child(even) {
  text-align: left;
  background-color: #f2f2f2;
}

.movies-table tbody tr:hover {
  text-align: left;
  background-color: #ddd;
}

.pagination-container {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.pagination-container button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.pagination-container button:hover {
  background-color: #ddd;
}

.pagination-container button:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.pagination-container .active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}